@media print {
    p {
        widows: 2;
        orphans: 2;
    }
    aside {
        page-break-after: always;
    }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    figure {
        page-break-inside: avoid;
    }
    main {
        display: block;
        height: auto;
    }
    aside {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        border-right: none;
        border-bottom: none;
    }
    main > div {
        width: 100%;
        height: auto;
    }
    section {
        padding: 0.5rem;
        display: block;
    }

    header nav a:first-of-type {
        width: auto;
    }
    header nav a:first-of-type h1 {
        display: none;
    }
}
